<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netneg.admin.dao.BPEntityMapper" >
  <resultMap id="BaseResultMap" type="com.netneg.admin.dto.BPListOutDto" >
  	<id column="bpid" property="bpid" jdbcType="VARCHAR" />
    <result column="bp_code" property="bpCode" jdbcType="VARCHAR" />
    <result column="bp_name" property="bpName" jdbcType="VARCHAR" />
    <result column="bp_short" property="bpShort" jdbcType="VARCHAR" />
    <result column="empcnt" property="empcnt" jdbcType="BIGINT" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="bpimpt" property="bpimpt" jdbcType="BIGINT" />
    <result column="sales" property="sales" jdbcType="VARCHAR" />
    <result column="hpurl" property="hpurl" jdbcType="VARCHAR" />
    <result column="zipcode" property="zipcode" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="fax" property="fax" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createuser" property="createuser" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="updateuser" property="updateuser" jdbcType="VARCHAR" />
    <result column="bp_memo" property="bpMemo" jdbcType="VARCHAR" />
    <result column="contactdate" property="contactdate" jdbcType="TIMESTAMP" />
    <result column="contactcnt" property="contactcnt" jdbcType="BIGINT" />
    <result column="maxcnttdays" property="maxcnttdays" jdbcType="BIGINT" />
    <result column="prjprsncnt" property="prjprsncnt" jdbcType="BIGINT" />
    <result column="gotprjcnt" property="gotprjcnt" jdbcType="BIGINT" />
    <result column="bpprsncnt" property="bpprsncnt" jdbcType="BIGINT" />
    <result column="prjflg" property="prjflg" jdbcType="VARCHAR" />
    <result column="wngtext" property="wngtext" jdbcType="VARCHAR" />
    <result column="wnglvl" property="wnglvl" jdbcType="VARCHAR" />
    <result column="cnttwnglvl" property="cnttwnglvl" jdbcType="VARCHAR" /> 
  </resultMap>
  
  <resultMap id="ContactResultMap" type="com.netneg.admin.dto.CustcnntOutDto" >
    <id column="custcntt_id" property="custcnttId" jdbcType="VARCHAR" />
    <result column="cnntlist_id" property="cnntlistId" jdbcType="VARCHAR" />
    <result column="prjprepsn_id" property="prjprepsnId" jdbcType="VARCHAR" />
    <result column="prj_name" property="prjName" jdbcType="VARCHAR" />
    <result column="custpsn_name" property="custpsnName" jdbcType="VARCHAR" />
    <result column="bp_name" property="bpName" jdbcType="VARCHAR" />
    <result column="sales" property="sales" jdbcType="VARCHAR" />
    <result column="contactdate" property="contactdate" jdbcType="TIMESTAMP" />
    <result column="cntt_type" property="cnttType" jdbcType="VARCHAR" />
    <result column="psn_name" property="psnName" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="result" property="result" jdbcType="VARCHAR" />
    <result column="resumelvl" property="resumelvl" jdbcType="VARCHAR" />
    <result column="workhours" property="workhours" jdbcType="DOUBLE" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="cnntime" property="cnntime" jdbcType="VARCHAR" />
    <result column="psncnttmemo" property="psncnttmemo" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createuser" property="createuser" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="updateuser" property="updateuser" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="MasterResultMap" type="com.netneg.admin.dto.MasterListOutDto" >
  	<result column="id" property="key" jdbcType="VARCHAR" />
  	<result column="name" property="value" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    bpid,bp_code, bp_name, bp_short, empcnt, country, bpimpt, sales, hpurl, zipcode, address, tel, fax, createtime, createuser, updateuser, updatetime, bp_memo, contactdate, contactcnt, maxcnttdays, prjprsncnt, gotprjcnt, bpprsncnt, prjflg, wngtext, wnglvl, cnttwnglvl
  </sql>
  
  <select id="getInitList" resultMap="BaseResultMap">
  	select 
  	a.bpid,a.bp_code, a.bp_name, a.bp_short, a.empcnt, a.country, a.bpimpt, b.DISPLAY_NAME as sales, a.hpurl, a.zipcode, a.address, a.tel, a.fax, a.createtime, a.createuser, a.updateuser, a.updatetime, a.bp_memo, a.contactdate, a.contactcnt, a.maxcnttdays, a.prjprsncnt, a.gotprjcnt, a.bpprsncnt, a.prjflg, a.wngtext, a.wnglvl, a.cnttwnglvl
  	from neg_bp a 
  	left join WB_USER b
  	on a.sales = b.USER_NAME
  	where a.delflg=0
  	ORDER BY  a.contactdate DESC
  </select>
  
  <select id="getcntList" resultMap="ContactResultMap">
  	select 
  	a.custcntt_id,a.cnntlist_id,a.prjprepsn_id,c.prj_name,d.custpsn_name,e.bp_name,b.DISPLAY_NAME as sales,a.contactdate,a.cntt_type,f.psn_name,a.price,a.result,a.resumelvl,a.workhours,a.address,a.cnntime,a.psncnttmemo,a.createtime,a.createuser,a.updatetime,a.updateuser 
  	from neg_custcntt a 
  	left join WB_USER b
  	on a.sales = b.USER_NAME
  	left join neg_project c
  	on a.prj_id = c.prj_id
  	left join neg_person f
  	on a.psn_id = f.psn_id
  	left join neg_custpsn d
  	on a.custpsn_id = d.custpsn_id
  	left join neg_bp e
  	on d.bpid = e.bpid
  	where a.delflg=0
  	ORDER BY  a.contactdate DESC
  </select>
   
  <select id="contactSearch" resultMap="ContactResultMap">
  	select 
  	a.custcntt_id,a.cnntlist_id,a.prjprepsn_id,c.prj_name,d.custpsn_name,e.bp_name,b.DISPLAY_NAME as sales,a.contactdate,a.cntt_type,f.psn_name,a.price,a.result,a.resumelvl,a.workhours,a.address,a.cnntime,a.psncnttmemo,a.createtime,a.createuser,a.updatetime,a.updateuser 
  	from neg_custcntt a 
  	left join WB_USER b
  	on a.sales = b.USER_NAME
  	left join neg_project c
  	on a.prj_id = c.prj_id
  	left join neg_person f
  	on a.psn_id = f.psn_id
  	left join neg_custpsn d
  	on a.custpsn_id = d.custpsn_id
  	left join neg_bp e
  	on d.bpid = e.bpid
  	where a.delflg=0
  	<if test="company != null and company !=''">
			and e.bpid = #{company}
	</if>
	<if test="sales != null and sales !=''">
			and a.sales = #{sales}
	</if>
	<if test="type != null and type !=''">
			and a.cntt_type = #{type}
	</if>
	<if test="prj != null and prj !=''">
			and a.prj_id = #{prj}
	</if>
	<if test="custpsn != null and custpsn !=''">
			and a.custpsn_id = #{custpsn}
	</if>
	<if test="person != null and person !=''">
			and a.psn_id = #{person}
	</if>
	<if test="stardate != null and stardate !=''">
			and DATE_FORMAT(a.contactdate,'%Y%m%d') &gt; #{stardate}
	</if>
	<if test="enddate != null and enddate !=''">
			and DATE_FORMAT(a.contactdate,'%Y%m%d') &lt; #{enddate}
	</if>
  	ORDER BY  a.contactdate DESC
  	
  </select>
  
  <select id="getSearchList" resultMap="BaseResultMap">
  	select 
  	a.bpid,a.bp_code, a.bp_name, a.bp_short, a.empcnt, a.country, a.bpimpt, b.DISPLAY_NAME as sales, a.hpurl, a.zipcode, a.address, a.tel, a.fax, a.createtime, a.createuser, a.updateuser, a.updatetime, a.bp_memo, a.contactdate, a.contactcnt, a.maxcnttdays, a.prjprsncnt, a.gotprjcnt, a.bpprsncnt, a.prjflg, a.wngtext, a.wnglvl, a.cnttwnglvl
  	from neg_bp a 
  	left join WB_USER b
  	on a.sales = b.USER_NAME
  	where a.delflg=0
  	<if test="company != null and company !=''">
			and a.bpid = #{company}
	</if>
	<if test="sales != null and sales !=''">
			and a.sales = #{sales}
	</if>
  	ORDER BY  a.contactdate DESC
  </select>
  
  
  <select id="getSalesMaster" resultMap="MasterResultMap">
  	select USER_NAME as id, DISPLAY_NAME as name from WB_USER
  </select>
  
  <select id="getPrjMaster" resultMap="MasterResultMap">
  	select prj_id as id, prj_name as name from neg_project
  </select>
  
  <select id="getCustpsnMaster" resultMap="MasterResultMap">
  	select custpsn_id as id, custpsn_name as name from neg_custpsn
  </select>
  
  <select id="getPersonMaster" resultMap="MasterResultMap">
  	select psn_id as id, psn_name as name from neg_person
  </select>
  
  <select id="bpIdExists" resultType="Integer">
  	select count(*) from neg_bp where bpid = #{autoId}
  </select>
  
  <select id="cntIdExists" resultType="Integer">
  	select count(*) from neg_custcntt where custcntt_id = #{autoId}
  </select>
  
  <update id="ItemUpdate" parameterType = "com.netneg.admin.dto.BPListInDto">
  update neg_bp set
  bp_code = #{bpCode},
  bp_name = #{bpName},
  bp_short = #{bpShort},
  empcnt = #{empcnt},
  country = #{country},
  bpimpt = #{bpimpt},
  sales = #{sales},
  hpurl = #{hpurl},
  zipcode = #{zipcode},
  address = #{address},
  tel = #{tel},
  fax = #{fax},
  bp_memo = #{bpMemo},
  maxcnttdays = #{maxcnttdays},
  wngtext = #{wngtext},
  wnglvl = #{wnglvl},
  updatetime = #{updatetime},
  updateuser = #{updateuser}
  where bpid = #{bpid}
  </update>
  <update id="deleteById" parameterType = "String">
  update neg_bp set
  delflg = '1'
  where bpid = #{bpid}
  </update>
  <update id="deleteContactById" parameterType = "String">
  update neg_custcntt set
  delflg = '1'
  where custcntt_id = #{id}
  </update>
  
  <insert id="createData" parameterType = "com.netneg.admin.dto.BPListInDto" >
  insert into neg_bp(bpid,bp_code,delflg,bp_name,bp_short,empcnt,country,bpimpt,sales,hpurl,zipcode,address,tel,fax,bp_memo,contactdate,contactcnt,maxcnttdays,wngtext,wnglvl,createtime,createuser) 
  values(#{bpid},#{bpCode},0,#{bpName},#{bpShort},#{empcnt},#{country},#{bpimpt},#{sales},#{hpurl},#{zipcode},#{address},#{tel},#{fax},#{bpMemo},#{createtime},1,#{maxcnttdays},#{wngtext},#{wnglvl},#{createtime},#{createuser})
  </insert>
</mapper>